.app-container {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .app-container {
    align-items: flex-start;
  }
}
