:root {
  --timer-background-color: #3aafa9;
  --timer-border: 1px solid #2b7a78;

  --black: #17252a;
  --white: #feffff;
  --light: #def2f1;
  --dark-green: #2b7a78;
  --green: #3aafa9;

  --timer-height: 70%;
  --timer-width: 70%;

  --button-border: 3px solid #000000;
  --button-text-size: 2em;
}

body,
div,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Piedra", cursive;

  background-color: var(--light);
}

@media screen and (max-width: 1024px) {
  :root {
    --timer-height: 100%;
    --timer-width: 100%;
    --button-text-size: 1.7rem;
  }
}
